.draggableContainer {
  position: absolute;
  align-self: center;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 2px 2px 6px #777;
  background-color: white;
  z-index: 10;

  .draggableBar {
    display: flex;
    background-color: rgb(153, 153, 153);
    padding: 2px;
    color: white;

    .draggableMove {
      flex-basis: 23px;
      line-height: 0;
      cursor: move;

      svg {
        font-size: 1.3em;
        color: white;
      }
    }

    .draggableTitle {
      flex-basis: 100%;
      cursor: pointer;
      font-size: 0.85em;
      text-align: center;
      align-self: center;
      padding: 0 20px;
    }
    .draggableBarButtons {
      display: flex;
      flex-basis: 55px;
      line-height: 0;
      text-align: right;

      .draggableBarRetracter {
        padding: 0;
        background-color: transparent;
        border: none;
        margin-right: 2px;
      }
      .draggableBarClose {
        padding: 0;
        background-color: transparent;
        border: none
      }
    }
  }

  .draggableContent {
    display: block;
    padding: 5px;
    overflow: hidden;

    h4 {
      margin: 0 0 5px 0;
      font-size: 0.9em;
    }

  }
}
