.component {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  display: block;
  flex-shrink: 0;
  align-self: center;
  margin: 0;
  
  h1 {
    margin: 0;
    font-size: 1.4em;
  }

  img {
    display: block;
    height: 46px;
    width: 109px;
    margin: 0;
  }
}
