.userPanel {
    display: block;
    position: relative;
    line-height: 0;

    .avatar{
        font-size: 40px;
        cursor: pointer;
    }

    .panel {
        position: absolute;
        top: 40px;
        right: 0;
        background-color: white;
        z-index: 10;
        width: 150px;
        padding: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
            font-size: 0.85em;
        }

        button {
            display: block;
            margin: 3px 0;
            cursor: pointer;
        }
    }
}